// colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);
$black: hsl(0, 0%, 0%);
$gradient: linear-gradient($darkBlue, $veryDarkBlue);

// fonts
$desktopPrimary: 2rem;
$desktopSecondary: 1.5rem;
$desktopParagraph: 0.9rem;
$desktopParagraphLineHeight: 1.35rem;

$tabletPrimary: 2rem;
$tabletSecondary: 1.5rem;
$tabletParagraph: 1rem;

$mobilePrimary: 2rem;
$mobileSecondary: 1.5rem;
$mobileParagraph: 1rem;

// font family
$fontFamily: "Overpass", sans-serif;
$fontFamilyLight: 400;
$fontFamilyHeavy: 700;

// border-radius
$borderRadis: 2rem;

// transitions
$transition: 0.5s all;

// button
@mixin button {
    margin: 1rem 0 2rem 0;
    background-color: $orange;
    border: none;
    padding: 0.75rem 0;
    border-radius: $borderRadis;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

// Primary Desktop
@mixin primaryFontDesktop {
    color: $white;
    font-size: $desktopPrimary;
    font-weight: $fontFamilyHeavy;
}

@mixin paragraphFontDesktop {
    color: $lightGrey;
    font-size: $desktopParagraph;
    font-weight: $fontFamilyLight;
    line-height: $desktopParagraphLineHeight;
}

// selection
@mixin selectedOption {
    color: $orange;
    background-color: $darkBlue;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin: 0;
    border-radius: $borderRadis;
    font-size: $desktopParagraph;
}
