@import "./_variables";

html {
    margin: 0;
    padding: 0;
    background-color: $black;
    overflow: hidden;
    font-family: $fontFamily;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    .container {
        background-image: $gradient;
        width: 20rem;
        height: auto;
        border-radius: $borderRadis;
        padding: 0 1.5rem;

        .starContainer {
            padding-top: 1.5rem;

            img.starImg {
                padding: 0.8rem;
                background-image: $gradient;
                border-radius: $borderRadis;
            }
        }

        .contentsWrapper {
            h1 {
                @include primaryFontDesktop;
            }

            p {
                @include paragraphFontDesktop;
            }
        }

        .ratingContainer {
            display: flex;
            flex-direction: column;

            .items {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                list-style: none;
                color: $white;

                li {
                    padding: 1rem;
                    background-image: $gradient;
                    border-radius: $borderRadis;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $lightGrey;
                }

                li.active {
                    padding: 1rem;
                    background-image: none;
                    background-color: $orange;
                    border-radius: $borderRadis;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $white;
                    transition: $transition;
                }

                li:hover {
                    background-image: none;
                    background-color: $mediumGrey;
                    transition: $transition;
                    color: $white;
                }
            }

            button {
                @include button;
            }

            button:hover {
                background-color: $white;
                color: $orange;
                transition: $transition;
            }
        }

        .thankYouContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .imageContainerNew {
                img.imageThankyou {
                    padding: 2rem 0 1rem 0;
                }
            }

            .selectionContainer {
                p {
                    @include selectedOption;
                }
            }

            .thankYouContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    @include primaryFontDesktop;
                    padding: 0;
                    margin: 1rem 0 0 0;
                }

                p {
                    @include paragraphFontDesktop;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0 0 2rem 0;
                }
            }
        }
    }
}
